<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Tahoma;
        }
    </style>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home Page</title>
</head>
<body>
<h1>URL SHORTENER</h1>
    <%if(locals.id){%>
        <p>URL Generated:<a>http://localhost:3000/url/<%= id %></a></p>
    <%}%>
    <div>
    <form action="/url" method="post">
        <label>Enter your Original URL</label>
        <input type="text" name="url" placeholder="Enter URL" required/>
        <button type="submit">Generate</button>
    </form>
    </div>
</body>
</html>